/*Definicion de las fuentes de las letras*/
@font-face {
    font-family: 'mhFont';
    src: url(fuentes/monsterhunter.ttf) format('truetype');
}

/*Fuente de letra para los textos de la página*/
@font-face {
    font-family: 'mhFont2';
    src: url(fuentes/monsterhuntersuperital.ttf) format('truetype');
}

@font-face {
    font-family:'mhFont3';
    src: url(fuentes/monsterhunterexpand.ttf) format('truetype');
}

@font-face {
    font-family: 'mhRiseFont';
    src: url(fuentes/monsterHunterRiseFont.otf);
}

@font-face{
 font-family: 'mhFontSemiItal';
 src: url(fuentes/monsterhuntersemital.ttf) format('truetype');
}

@font-face {
    font-family: 'mhFontTitles';
    src: url(fuentes/monsterhunter3d.ttf) format('truetype');
}

@font-face {
    font-family: 'mhFontTitles2';
    src: url(fuentes/monsterhuntercond.ttf) format('truetype');
}

/*Diseño de la página*/
*{
    margin: 0;
    padding: 0;
}

.sectionHeader{
    min-height: 100vh;
    width: 100%;
    /*El linear gradient funciona para darle opacidad a una seccion de la pagina
    el primer rgba funciona para darle color y opacidad al inicio y el segundo es para el final*/
    background-image: linear-gradient(rgba(4,9,30,0.7)
    ,rgba(4,9,30,0.5)),url(imagenes/safi.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/*Se configura el tamaño de la imagen de logo*/
nav img{
    width: 125px;
    fill: #fff;
}

.divNavLinks{
    flex: 1;
    text-align: right;
}

/*Se seleccionan cada uno de los elementos li de la lista ul*/
.divNavLinks ul li{
    list-style: none;
    /*Se muestra toda la información en una sola linea*/
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/*Se añade el estilo para cada uno de los links*/
.divNavLinks ul li a{
    /*Se elimina cualquier tipo de decoracion por defecto del texto*/
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /*Cambiar la fuente al estilo de Monster Hunter*/
    font-family: 'mhFont', sans-serif;
}

/*Código par mostrar una linea que subraya cada parte del nav, pero no se mostrará en pantalla*/
.divNavLinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.25s;
}

/*Las lineas que subrayan se mostrarán una vez que el*/
.divNavLinks ul li:hover::after{
    width: 100%;
}

.divTextInfo{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'mhFont2', sans-serif;
    font-size: 30px;
}

.divTextInfo h1{
    font-family: 'mhFont3', sans-serif;
}

/*Ocultar los iconos con la pantalla completa*/
nav svg{
    display: none;
}

.icono{
    fill: #fff;
}
/*Diseño de las secciones de la página*/

.divisiones{
    /*El width sirve para definir que tanto se distribuirá el texto en la seccion de la página*/
    
    /*Se le da un margen automatico para que se ajuste solo cuando cambie el tamaño de la página*/
    margin: auto;
    text-align: center;
    /*Se le da una padding top para separarlo del header*/
    padding-top: 100px;
    padding-bottom: 50px;
    background: #0f0e1f;
}
/*0f0e1f*/
.divisiones h1{
    font-family: 'mhFontSemiItal', sans-serif;
    font-size: 35px;
    color: #fff;
    padding-bottom: 5%;
}

.divisiones p {
    font-family: 'mhRiseFont', sans-serif;
    color: #fff;
}

.textDivisionesInicio{
    padding-bottom: 50px;
}

.divisiones h3{
    font-family: 'mhFontTitles', sans-serif;
    font-size: 25px;
    color: #fff;
    text-align: center;
}

/*Alinear la información de cada columna*/
.columnas{
    display: flex;
    justify-content: space-between;
    /*El padding en 25px es para darle una separación a las columnas con la margen de la pantalla*/
    padding: 2px 25px;
}

.columnas p{
    font-size: 14px;
}

.columna{
    background: #655d5d;
    border-radius: 10px;
    
    padding: 5px 5px;
    box-sizing: border-box;
    flex-basis: 23%;
    transition: 0.5;
    cursor: pointer;
}

/*Animación para cada columna*/
.columna:hover{
    box-shadow: 0 0 50px 0px rgba(255, 255, 255, 0.5);
}

/*Agregar las funciones para que sea responsive*/
@media (max-width: 700px) {
    .divTextInfo h1{
        font-size: 35px;
        /*sirve para dividir la frase si no hay suficiente espacio*/
        word-wrap: break-word;
    }

    .divTextInfo p{
        font-size: 20px;
        word-wrap: break-word;
    }
    
    .divNavLinks ul li a{
        font-size: 15px;
    }

    .divNavLinks ul li{
        /*Alinea todos los elementos en una linea*/
        display: block;
    }

    .divNavLinks{
        /*Posicion por encima de todos los elementos de la pantalla*/
        position: absolute;
        /*100vh significa la totalidad de la pantalla*/
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        background: #655d5d;
        transition: 1s;
    }

    nav svg{
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
    }

    .divNavLinks ul{
        padding: 30px;
    }

    .columnas{
        flex-direction: column;
    }
    .columna{
        margin-top: 30px;
        
    }
}

.divFooter{
    background-color: #0f0e1f;
    text-align: center;
    color: #ffffffb5;
}

#divMonstruos img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#divArmas img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#divArmaduras img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#divMapas img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
}